* {
    margin: 0; 
    padding: 0; 
    border: none; 
    outline: none;
    box-sizing: border-box;
    text-decoration: none; 
    list-style: none; 
    font-family: 'Montserrat', sans-serif;
    color: rgb(32, 32, 32);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(153, 170, 165);
}

main {
    width: 500px;
    padding: 16px;
    background-color: rgb(162, 179, 173);
    border-radius: 16px;
}
h1 {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 600;
}

.legenda {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 8px;
}
.legenda > p {   
    width: 34%;
    text-align: center;
    font-weight: 500;
}

.span1 {
    color: rgb(130, 212, 130);
}

.span2 {
    color: rgb(212, 31, 31);
}

.salario {
    display: flex;
    gap: 8px;
}

.salario > p {
    display: flex;
    width: 28%;
    font-weight: 500;
    background-color: rgba(100, 124, 116, 0.7);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    padding: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.06);
}

.salario > input {
    width: 35%;
    background-color: rgba(114, 143, 133, 0.5);
    border-radius: 4px;
    padding: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.06);
}

section {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 8px;
}

section > p {
    display: flex;
    width: 30%;
    height: 114px;
    font-weight: 500;
    background-color: rgba(113, 131, 125, 0.7);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.06);
}

.bloco-um {
    display: flex;
    flex-direction: column;
}
.bloco-um > input {
    border-bottom: 1px solid;
    margin-top: 4px;
    width: 100%;
    background-color: rgb(162, 179, 173);
    padding: 4px;
}


.bloco-dois {
    display: flex;
    flex-direction: column;
}
.bloco-dois > input {
    margin-top: 4px;
    width: 100%;
    background-color: rgba(114, 143, 133, 0.5);
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.06);
    padding: 4px;
}

input::placeholder {
    color: rgb(80, 80, 80);
}

.botao {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
button {
    border: 1.5px solid rgb(83, 97, 92);
    border-radius: 4px;
    padding: 4px;
    font-weight: 500;
    width: 30%;
    background-color: rgb(162, 179, 173);
}

button:hover {
    background-color: rgba(176, 185, 184, 0.3);
    border: 1.5px solid rgb(100, 124, 116);
    cursor: pointer;
}

